{% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/vc.css' %}" rel="stylesheet">
<!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->
<!-- <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet"> -->
<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/ticket.css' %}" rel="stylesheet" type="text/css">

