<!DOCTYPE html>
<html>
<head>
	{% include 'proj_css.html' %}
	<title>View Match Details</title>
	{% block script %}
	<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  {% endblock %}
</head>
</head>
<body>

	{% include 'nav_bar.html' %}
	{% include 'modals.html' %}
	<br>
	<br>
	<div class='row'>
	{% include 'carousel.html' %}

		<div class="col-sm-8 col-sm-offset-1">

	<table class='table table-bordered'>
		<thead >
			<th class='info'>
				Match
			</th>
			<th class='info'>
				competition
			</th >
			<th class='info'>
				Match date and time
			</th>
			<th class='info'>
				Match Details
			</th>
		</thead>
		{% for obj in match %}

		<tr>
			<td>
			{{ obj.home_team }} vs {{ obj.away_team }}
			</td>
			<td>{{ obj.competition_name }}</td>
			<td>{{ obj.match_date_time }}</td>
			<td><button class='btn btn-success' data-toggle="modal" aria-hidden="true" data-target="#{{obj.id}}"> View details  </button></td>
		</tr>
		{% endfor %}
	</table>

	</div>
	

</div>



</body>

{% include 'proj_js.html' %}
</html>